@import "../../assets/styles/variables";
.connectWallet {
	background-color: $darkColor;
	min-height: calc(100vh - 70px);
	.backButton {
		padding-top: 15px;
		padding-bottom: 18px;
		button{
			cursor: pointer;
		}
	}
	.content {
		text-align: center;
		h3 {
			font-weight: 600;
			margin-bottom: 25px;
		}
		.walletCards {
			margin-top: 40px;
			display: flex;
			align-items: center;
      justify-content: center;
			.card {
				margin-left: 8px;
				margin-right: 8px;
				width: 278px;
				height: 183px;
				border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $lightGray;
        cursor: pointer;
        img{
          margin-bottom: 20px;
        }
        h3{
          font-weight: 600!important;
          margin: 0;
        }
			}
		}
	}
}
