@import "./variables";

/*=============================================
=            Basic typography            =
=============================================*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: $bgColor;
	font-family: $fontFamily;
	font-size: 16px;
}

@each $typeFace, $value in $typeSizes {
	.tf-#{$typeFace} {
		font-size: map-get($map: $value, $key: "fs");
		font-weight: map-get($map: $value, $key: "fw");
		line-height: 1.5;
	}
}

.text-uppercase {
	text-transform: uppercase;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label {
	color: $fontColor;
}
h1,
h2,
h3 {
	margin-bottom: map-get($map: $Spacing, $key: "heading-margin");
}
p {
	font-family: $fontFamily;
	margin-bottom: map-get($map: $Spacing, $key: "body-margin");
}

a {
	font-family: $fontFamily;
	text-decoration: none;
	color: $lighterDark;
	&:hover {
		color: $secondaryColor;
	}
	&.active {
		color: $secondaryColor;
	}
}

/*=====  End of Basic typography  ======*/

/**
 *
 * Basic utility
 *
 */
.view-all {
	display: flex;
	align-items: center;
	padding: 7px 12px;
	border: none;
	background: transparent;
	& * {
		color: inherit;
	}
	span {
		color: $fontColor;
	}
}
.totalResult {
	height: 36px;
	padding: 6px 20px;
	background-color: $lightGray;
	color: $fontColor;
	border-radius: 5px;
	span {
		&:first-child {
			color: $lighterDark;
		}
	}
}

.Breadcrumb{
	display: flex;
	align-items: center;
	list-style: none;
	li{
		background-image: url('../images/chevron-right.svg');
		padding-right: 20px;
		background-repeat: no-repeat;
		background-position: right;
		background-size: 18px;
		&:last-child{
			background-image: none;
		}
		a{
			font-size: 15px;
		}
	}
}